@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione isso para garantir que a animação de scan que criamos funcione */
@keyframes scan {

  0%,
  100% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(200%);
  }
}

.animate-scan {
  animation: scan 2s ease-in-out infinite;
}